<html>

<head>
    <title>Demo Socket IO</title>
    <script src="jquery-3.2.1.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script>
        var socket = io("http://localhost:3000");

  socket.on("ServerSendC",function(data){
    $("body").attr("bgColor",data);
   });
        
        $(document).ready(function () {


            $('#do').click(function () {
                socket.emit("Client-Send-Color", "red");
            });
            $('#xanh').click(function () {
                socket.emit("Client-Send-Color", "green");
            });
            $('#vang').click(function () {
                socket.emit("Client-Send-Color", "yellow");
            });


        });
    </script>
    <style type="text/css">
        #do,
        #xanh,
        #vang {
            width: 100px;
            height: 100px;
        }

        #do {
            background-color: red;
        }

        #xanh {
            background-color: green;
        }

        #vang {
            background-color: yellow;
        }
    </style>
</head>

<body id="containercolor">
    <div id="do"></div>
    <div id="xanh"></div>
    <div id="vang"></div>

</body>

</html>